body {
	margin: 0;
}

.navbar {
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #000;
	color: #FFF;
}

.nav-title {
	padding: 0 10px;
}

.nav-link {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 10px;
	text-decoration: none;
	color: #FFF;
}

.nav-link:hover {
	background-color: #333;
}

#success {
	transition: height 0.2s ease-in-out, opacity 0.2s ease-in-out;
	opacity: 0;
	width: 100%;
	height: 25px;
	position: absolute;
	top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #4CAF50;
	color: #FFF;
}

#success.visible {
	opacity: 1;
}

#container {
	user-select: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 50px);
}

.counter-container {
	display: flex;
	align-items: center;
}

#copy-button {
	cursor: pointer;
	transition: color 0.3s ease;
	text-decoration: none;
	padding: 0 10px;
	font-size: 1.5em;
	color: #333;
}

#copy-button:active {
	color: #000;
}

#counter {
	margin: 10px;
	font-size: 3em;
}

#reset-button {
	cursor: pointer;
	transition: background 0.3s ease;
	text-decoration: none;
	border-radius: 4px;
	margin: 10px;
	padding: 8px 24px;
	background-color: #333;
	color: #FFF;
}

#reset-button:active {
	background-color: #000;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #DDD;
}

.attributions {
	color: #AAA;
	font-size: 0.5em
}

.attributions a {
	color: #AAA;
}

@media only screen and (min-width: 992px) {
	#counter {
		font-size: 4vw;
	}
	
	#copy-button {
		color: #AAA;
	}

	#copy-button:hover {
		color: #333;
	}

	#copy-button:active {
		color: #000;
	}
	
	#reset-button {
		background-color: #AAA;
	}

	#reset-button:hover {
		background-color: #333;
	}

	#reset-button:active {
		background-color: #000;
	}
}