body {
	margin: 0;
}

.navbar {
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #000;
	color: #FFF;
}

.nav-title {
	padding: 0 10px;
}

.navbar a {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 10px;
	text-decoration: none;
	color: #FFF;
}

.navbar a:hover {
	background-color: #333;
}

#container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 50px);
}

#counter {
	margin: 10px;
	font-size: 3em;
}

#reset-button {
	transition: background 0.3s ease;
	text-decoration: none;
	border-radius: 4px;
	margin: 10px;
	padding: 8px 24px;
	background-color: #AAA;
	color: #FFF;
}

#reset-button:hover {
	background-color: #999;
}

#reset-button:active {
	background-color: #000;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #DDD;
}

.attributions {
	color: #AAA;
}

.attributions a {
	color: #AAA;
}

@media only screen and (min-width: 992px) {
	#counter {
		font-size: 4vw;
	}
}